
CatalanProject/__pycache__/

db\.sqlite3

\.idea/

Calculate/migrations/

Calculate/__pycache__/

Cat_Br_Tr/Debug/

Cat_Br_Tr/tree\.dot

Cat_Br_Tr/tree\.png

Cat_Br_Tr/\.vs/

tree\.dot

Calculate/static/gen-img/

root_tree\.dot

jung\.dot

polygon\.png

p\.png

poly\.png

Cat_Tree_Win/Cat_Tree_Win/Debug/

Cat_Tree_Win/\.vs/

Cat_Tree_Linux/\.vs/

__pycache__/

Cat_Jung/\.vs/

Cat_Jung/Debug/

Cat_Jung/Cat/Debug/

Cat_Tree_Linux/Cat_Tree/bin

Cat_Tree_Linux/Cat_Tree/obj

Cat_Tree_Linux/Cat_Tree/readme

Cat_Tree_Win/Debug

