
CatalanProject/__pycache__/

db\.sqlite3

\.idea/

Calculate/migrations/

Calculate/__pycache__/

Cat_Br_Tr/Debug/

Cat_Br_Tr/tree\.dot

Cat_Br_Tr/tree\.png

Cat_Br_Tr/\.vs/

tree\.dot

Calculate/static/gen-img/

root_tree\.dot
