<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Catalan calculator</title>
</head>
<body>
<form action="" method="post" onchange="reDraw()">
    {% csrf_token %}

    <p><label for="brackets">Enter the correct bracket structure</label>
        <input type="text" name="brackets" id="brackets" value="{{ brackets }}" required>
    </p>
    <p>
    <fieldset>
        <legend>Choose structure to convert</legend>

        <div>
            <input type="radio" name="struct" value="bin" {% if struct == "bin" %}
                   checked
            {% endif %} />Binary tree
        </div>

        <div>
            <input type="radio" name="struct" value="root" {% if struct == "root" %}
                   checked
            {% endif %} >Rooted tree
        </div>

        <div>
            <input type="radio" name="struct" id="table" value="table"
                    {% if struct == "table" %} checked {% endif %}>Table Jung
        </div>
        <div>
            <input type="radio" name="struct" id="poly" value="poly"
                    {% if struct == "poly" %} checked {% endif %}>Polygon
        </div>

    </fieldset>
    </p>

    <label>
        <input type="checkbox" id="fl" name="flag"
               {% if choice == "on" %}checked{% endif %}> Enable numbering
    </label>
    <input type="submit" value="Send">
    <script>
        function reDraw() {
            let target = document.getElementById('fl');
            if (document.getElementById('table').checked) {
                //target.checked = false;
                //target.disabled = true;
                target.parentNode.hidden = true;
            }
            else
                {#target.disabled = false;#}
                target.parentNode.hidden = false;
        }

        document.addEventListener("DOMContentLoaded", reDraw);
    </script>
</form>
{% if brackets %}
    <p>You entered {{ brackets }}</p>
{% endif %}
{% if img %}
    <p>You result</p>
    <img src="{{ img }}">
{% endif %}
{% if error %}
    <p>{{ error }}</p>
{% endif %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>