<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <title>Catalan calculator</title>
</head>
<body>
<form action="" method="post" onchange="reDraw()" id="form">
    {% csrf_token %}

    <div class="container">
        <div class="form-group row p-5">
            <div class="col-sm-10">
                <input type="text" name="brackets" class="form-control" placeholder="Enter the Balanced Parentheses:" id="brackets" required>
                <div class="form-control-feedback">
                    <div id="alert" class="alert alert-danger d-none" align="center">

                    </div>
                </div>
            </div>
            <div class="btn-group-toggle col-sm-2">
                <input type="submit" class="btn btn-success btn-block" value="Send">
            </div>
            <div class="alert alert-info alert-dismissible fade show col-sm-10">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Info.</strong> A string of parentheses is balanced if there are an equal number of open and
                closed
                parentheses and a number of open parenthesis is greater than or equal to a closed parenthesis in every
                position of the string.
            </div>
        </div>
    </div>


    <div class="container">
        <div class="form-group row">
            <div class="col-sm-1"></div>
            <div class="btn-group btn-group-toggle col-sm-6" data-toggle="buttons">
                <label class="btn btn-info active">
                    <input type="radio" name="struct" id="bin" value="bin" autocomplete="off" checked> To binary tree
                </label>
                <label class="btn btn-info">
                    <input type="radio" name="struct" id="root" value="root" autocomplete="off"> To rooted tree
                </label>
                <label class="btn btn-info">
                    <input type="radio" name="struct" id="poly" value="poly" autocomplete="off"> To polygon
                </label>
                <label class="btn btn-info">
                    <input type="radio" name="struct" id="table" value="table" autocomplete="off"> To table Jung
                </label>
            </div>
            <div class="btn-group-toggle col-sm-2" data-toggle="buttons">
                <label class="btn btn-light">
                    <input type="checkbox" autocomplete="off" id="fl" name="flag"> Enable numbering
                </label>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>


    <script>
        function reDraw() {
            let target = document.getElementById('fl');
            target.parentNode.hidden = !!document.getElementById('table').checked;
        }

        document.addEventListener("DOMContentLoaded", reDraw);

        // this is the id of the form
        $("#form").submit(function (e) {
            let form = $(this);
            $.ajax({
                type: "POST",
                url: '',
                data: form.serialize(), // serializes the form's elements.
                success: function (data) {
                    if (data.result) {
                        $('#img-result').attr('src', data.img);
                        $('#alert').addClass('d-none');
                    }
                    else
                        $('#alert').removeClass('d-none').html('<strong>Error!</strong>');
                }
            });

            e.preventDefault(); // avoid to execute the actual submit of the form.
        });
    </script>

</form>


<img src="" id="img-result" class="mx-auto d-block">


</body>
</html>