<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalan calculator</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <p><label for="brackets">Enter the correct bracket structure</label>
        <input type="text" name="brackets" id="brackets" value="{{ brackets }}" required>
    </p>
    <p>
    <fieldset>
        <legend>Choose structure to convert</legend>

        <div>
            <input type="radio" name="struct" value="bin" {% if struct == "bin" %}
                   checked
            {% endif %} />Binary tree
        </div>

        <div>
            <input type="radio" name="struct" value="root" {% if struct == "root" %}
                   checked
            {% endif %}>Rooted tree
        </div>

        <div>
            <input type="radio" name="struct" value="table" onchange="table()"
             {% if struct == "table" %} checked {% endif %}>Table Jung
        </div>

    </fieldset>
    </p>

    <label>
        <input type="checkbox" id="flag" name="flag" {% if choice == "on" %} checked {% endif %} disabled="disabled"> Enable numbering
        <input type="submit" value="Send">
    </label>
    <script>
        function table(f) {
            var flag = document.getElementById('flag');

            if (f.table.checked) flag.disabled = true;
            else flag.disabled = false;
        }
    </script>
</form>
{% if brackets %}
    <p>You entered {{ brackets }}</p>
{% endif %}
{% if img %}
    <p>You result</p>
    <img src="{{ img }}">
{% endif %}
{% if error %}
    <p>{{ error }}</p>
{% endif %}


</body>
</html>