<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalan calculator</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <p><label for="brackets">Enter the correct bracket structure</label>
        <input type="text" name="brackets" id="brackets" value="{{ brackets }}" required>
    </p>
    <p>
    <fieldset>
        <legend>Choose structure to convert</legend>

        <div>
            <input type="radio" name="struct" value="bin" {% if struct == "bin" %}
                   checked
            {% endif %} onclick="bin()"/>Binary tree
        </div>

        <div>
            <input type="radio" name="struct" value="root" {% if struct == "root" %}
                   checked
            {% endif %} onclick="root()">Rooted tree
        </div>

        <div>
            <input type="radio" name="struct" id="struct" value="table" onclick="table()"
                    {% if struct == "table" %} checked {% endif %}>Table Jung
        </div>

    </fieldset>
    </p>

    <label>
        <input type="checkbox" id="fl" name="flag" {% if struct == "table" %}disabled="disabled"{% endif %}
               {% if choice == "on" %}checked{% endif %}> Enable numbering
        <input type="submit" value="Send">
    </label>
    <script>
        function table({{choice}}) {
            fl.setAttribute('disabled', "disabled");
        }

        function bin(f) {
            if (fl.getAttribute('disabled')) fl.removeAttribute('disabled');
        }

        function root(f) {
            if (fl.getAttribute('disabled')) fl.removeAttribute('disabled');
        }
    </script>
</form>
{% if brackets %}
    <p>You entered {{ brackets }}</p>
{% endif %}
{% if img %}
    <p>You result</p>
    <img src="{{ img }}">
{% endif %}
{% if error %}
    <p>{{ error }}</p>
{% endif %}


</body>
</html>